<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackcountryK9Marketplaces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BackcountryK9Marketplaces.Properties.Settings>
            <setting name="AWSSecretAccessKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AWSAccessKeyId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AWSApplicationName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AWSApplicationVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="AWSMarketplaceId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AWSMerchantId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TempFileDirectory" serializeAs="String">
                <value>d:\temp</value>
            </setting>
            <setting name="AWSMerchantToken" serializeAs="String">
                <value></value>
            </setting>
        </BackcountryK9Marketplaces.Properties.Settings>
    </applicationSettings>
</configuration>